@model IEnumerable<skillDev.Models.State>

@{
    ViewData["Title"] = "Index";
}

<div class="row ">
    <div class="col-4" style="float:right">
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
    </div>
    <div class="col-8 " style="float:right">
        <h1>State List</h1>
    </div>

</div>

<table class="table">
    <thead>
        <tr>

            <th>
                State Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.stateName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id}, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
